:root {
  --ui-base: var(--white);
  --ui-base-10: var(--gray-10);
  --ui-base-20: var(--gray-20);
  --ui-base-30: var(--gray-30);
  --ui-base-40: var(--gray-40);
  --ui-base-50: var(--gray-50);
  --ui-base-60: var(--gray-60);
  --ui-base-70: var(--gray-70);
  --ui-base-80: var(--gray-80);
  --ui-base-90: var(--gray-90);
  --ui-base-100: var(--gray-100);
  --ui-base-110: var(--gray-110);
  --ui-base-120: var(--gray-120);
  --ui-base-130: var(--gray-130);
  --ui-base-140: var(--gray-130); /* unused */
  --ui-base-150: var(--gray-130); /* unused */
  --ui-base-160: var(--gray-130); /* unused */
  --ui-base-170: var(--gray-130); /* unused */
  --ui-base-180: var(--gray-180);
  --ui-inverse: var(--black);

  /* original */
  --white: #ffffff;
  --gray-20: #f9f9f9;
  --gray-30: #f8f8f8;
  --gray-60: #e8e8e8;
  --gray-70: #dddddd;
  --gray-80: #d9d9d9;
  --gray-90: #cccccc;
  --gray-100: #c5c5c5;
  --gray-base: #999999;
  --gray-110: #868686;
  --gray-120: #777777;
  --gray-130: #616061;
  --gray-140: #555555;
  --gray-150: #4a494a;
  --gray-160: #1f1f1f;
  --black: #000000;

  /* New: 16-step, Cubic EaseInOut luminosity curve */
  /* https://www.colorbox.io/#steps=15#hue_start=292#hue_end=293#hue_curve=linear#sat_start=0#sat_end=0#sat_curve=linear#sat_rate=76#lum_start=99#lum_end=10#lum_curve=easeInOutCubic#minor_steps_map=50,80 */
  --gray-000: #FCFCFC;
  --gray-010: #FBFBFB;
  --gray-020: #F8F8F8;
  --gray-030: #F2F2F2;
  --gray-040: #E7E7E7;
  --gray-050: #D5D5D5;
  --gray-060: #C6C6C6;
  --gray-070: #B8B8B8;
  --gray-080: #8F8F8F;
  --gray-090: #656565;
  --gray-100: #565656;
  --gray-110: #474747;
  --gray-120: #343434;
  --gray-130: #282828;
  --gray-140: #202020;
  --gray-150: #1C1C1C;
  --gray-160: #1A1A1A;
}