/* message placeholders */
.c-message_list__placeholders--light {
 filter: invert(70%)
}
.c-message_list__placeholders--dense {
 filter: invert(70%)
}

/* override for message loading animation */
.p-message_container_loading {
 background-color:rgba(var(--sk_primary_background,221,221,221),1);
 position:absolute;
 top:0;
 right:0;
 bottom:0;
 left:0;
 z-index:200;
 display:flex;
 align-items:center;
 justify-content:center;
}
.p-message_container_loading:before {
 content: ""; 
 position:absolute;
 top:0;
 right:0;
 bottom:0;
 left:0;
 background-image:url(https://a.slack-edge.com/d5d4a/img/unread/uv-loader@2x.gif);
 background-size:200px 200px;
 background-repeat:no-repeat;
 background-position:50%;
 -webkit-filter:invert(1);
 filter:invert(1);
 mix-blend-mode: screen;
}

/* limited history foreword */
.p-message_pane__limited_history_foreword {
 position: relative;
 background-color:rgba(var(--sk_foreground_min_solid,248,248,248),1)
}
.p-message_pane__limited_history_foreword:after {
 content:"";
 position:absolute;
 bottom:0;
 left:0;
 right:0;
 height:15px;
 background-image:linear-gradient(0deg,transparent 15px,rgba(var(--sk_primary_background,221,221,221),1) 15px),linear-gradient(-135deg,transparent 11px,rgba(var(--sk_primary_background,221,221,221),1) 11px),linear-gradient(135deg,transparent 11px,rgba(var(--sk_primary_background,221,221,221),1) 11px);
 background-position:0 100%;
 background-size:100% 100%,15px 15px,15px 15px;
 background-repeat:repeat-x;
}